@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Poppins&family=Rubik+Puddles&display=swap');
.body1{
  font-family: 'Poppins', sans-serif!important;
 }

 input{
  padding: 0 1em;
 }

 @media(max-width:778px){

  .img1{
    width: 550px;
  }
}

@media(max-width:678px){

  .img1{
    width: 450px;
  }
}

@media(max-width:578px){
 
   .img1{
    width: 400px;
  }
}
@media(max-width:478px){

  .img1{
    width: 350px;
  }
}
@media(max-width:378px){
 
  .img1{
    width: 300px;
  }
}
